<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link th:href="@{plugins/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<form>
    <input id="getAll_btn" type="button" value="获取所有节点" />
</form>
<script th:src="@{plugins/jquery-2.1.1.min.js}" type="text/javascript"></script>
<!-- <script th:src="@{plugins/d3/4.12.2/d3.js}" type="text/javascript"></script> -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    $(function() {
        $("#getAll_btn").on("click",function() {
            $.ajax({
                type:"post",
                url:"coder/all",
                data:{},
                dataType:"json",
                success:function(result) {
                    console.log(result);
                }
            });
        });
    });
</script>
</body>
</html>